/****************************************************************** FONTS ***************************************************************************/

@font-face {
  font-family: "nyt-cheltenham";
  src: url(fonts/cheltenham-normal-400.a3ed7afe3eaa0a873f3fbd379f8c491b.woff2);
}

@font-face {
  font-family: "nyt-cheltenham-italic";
  src: url(fonts/cheltenham-italic-700.f99a0459024509f157a3352e5de4f873.woff2);
}

@font-face {
  font-family: "nyt-imperial";
  src: url(fonts/imperial-normal-400.2531995fefd3b997f9c4d564ebe89268.woff2);
}

@font-face {
  font-family: "nyt-franklin";
  src: url(fonts/franklin-normal-500.d6c06a3d84a57100edad5bf9b84ff739.woff2);
}

body {
  font-family: "nyt-imperial", sans-serif;
}

/***************************************************************** CSS RESET **************************************************************************/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* * {
  border: 1px solid #f00 !important;
} */

/********************************************************************* HEADER ****************************************************************************/

header {
  display: flex;
  position: fixed;
  margin: 0 auto 5px auto;
  top: 0;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-color: white;
  border-bottom: 0.5px solid lightgray;
}

.top-logo {
  width: 200px;
  margin: 5px 50px;
}

.left-align {
  display: flex;
  float: left;
  align-items: center;
}

.top-icons {
  margin: 0 15px;
}

.header-title {
  font-size: 14px;
  font-family: "nyt-franklin", sans-serif;
  font-weight: 700;
}

.header-title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.top-buttons {
  background: rgb(50, 104, 145);
  background-color: rgb(86, 123, 149);
  border-radius: 4px;
  border: 1px solid #566963;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 11px;
  font-weight: bold;
  padding: 10px 15px;
  text-decoration: none;
  line-height: 11px;
  margin: 2px 5px;
}

.top-buttons:hover {
  cursor: pointer;
  background-color: rgb(28, 94, 145);
}

.under-header,
.short-hr,
.under-title {
  height: 1px;
  border-width: 0;
  color: lightgray;
  background-color: lightgray;
}

/*********************************************************************  TITLE  *************************************************************************/

.title-container {
  margin: 100px auto 5px auto;
  width: 30%;
}

.title-container > h1 {
  font-family: "nyt-cheltenham-italic", sans-serif;
  text-align: left;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
  margin: 50px 0 30px 0;
}

.under-title {
  padding: 0.05%;
}

.social-icons {
  display: flex;
}

.social-icons > i {
  text-align: left;
  color: black;
  border-color: blue;
  border-radius: 200px;
  height: 50px;
  width: 50px;
  padding: 5px;
  margin-top: 5px;
}

.title-image,
.image-container,
.img-description {
  text-align: center;
  width: 80%;
  margin: 20px auto;
}

.img-description {
  display: inline-block;
  text-align: left;
  color: gray;
  font-size: 0.9375rem;
  line-height: 1.25rem;
}

.img-description > span {
  color: lightgray;
  font-size: 13px;
  line-height: 18px;
}

/********************************************************************** ARTICLE *********************************************************************/

.author,
.by-author {
  font-family: "nyt-franklin", sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
}

.author {
  text-decoration: underline;
  text-decoration-color: lightgray;
}

.date {
  font-family: "nyt-franklin", sans-serif;
  font-weight: 100;
  font-size: 0.8125rem;
  margin: 5px 0;
}

article {
  max-width: 32%;
  margin: 20px auto;
  font-family: "nyt-imperial", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.875rem;
}

article > p,
h4 {
  padding-bottom: 20px;
}

article > h3 {
  font-family: "nyt-imperial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.unlock-more {
  text-align: center;
  margin: 5px auto;
  max-width: 40%;
  font-weight: 700;
  font-family: "nyt-franklin", sans-serif;
  line-height: 19px;
  font-size: 15px;
}

.unlock-more > a {
  text-decoration: none;
  color: rgb(50, 104, 145);
}

.short-hr {
  margin: 15px auto;
  width: 30%;
  padding: 0.1%;
}

/**************************************************************** IMAGE GRID *****************************************************************************/

.img-grid-container {
  width: 50%;
  margin: 20px auto;
  font-family: "nyt-franklin", sans-serif;
  margin-bottom: 50px;
}

.img-grid-title-container {
  font-family: "nyt-cheltenham", sans-serif;
}

.img-grid-title {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 700;
}

.img-grid-description {
  line-height: 18px;
  color: #666;
}

.img-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin: 0 auto;
  column-gap: 15px;
  row-gap: 15px;
}

.grid-pics {
  width: 200px;
  height: 150px;
}

.grid-image-title {
  font-weight: 800;
  padding-right: 10px;
  font-size: 11px;
}

.grid-image-description {
  font-weight: 200;
  font-size: 14px;
}

.by-hr {
  width: 50px;
  height: 1px;
  border-width: 0;
  background-color: black;
  margin: 30px 0 15px 0;
}

.img-grid-author {
  font-family: "nyt-franklin", sans-serif;
}

/**************************************************************  SIGNUP SECTION  ************************************************************************/

.signup-section > div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 20px 40px 0;
}

.signup-section > hr {
  width: inherit;
  height: 1px;
  border-width: 0;
  color: lightgray;
  background-color: lightgray;
}

.signup-section p {
  font-family: "nyt-imperial", sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 200;
  font-style: italic;
}

.signup-section span {
  font-family: "nyt-franklin", sans-serif;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.125rem;
  font-style: normal;
}

.signup-section button {
  background: black;
  width: 120px;
  height: 40px;
  background-color: #fff;
  border: 1px solid black;
  cursor: pointer;
  color: black;
  font-size: 15px;
  font-weight: bold;
  font-family: "nyt-franklin", sans-serif;
}

/********************************************************************  TEMP  *****************************************************************************/
.telescope-image-container {
  margin: 0 auto;
  width: 40%;
}

.telescope-image {
  display: block;
  margin: 20px auto 20px auto;
  text-align: center;
  width: 100%;
}

.telescope-image-container > p {
  display: inline;
}

.disclaimer-text {
  font-family: "nyt-franklin", sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 400;
  color: gray;
}

.disclaimer-text > a {
  color: gray;
}

/***************************************************************************  MORE GRID  ************************************************************************************************/

.bottom-grid-container {
  width: 66%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  column-gap: 40px;
}

.more-in-space-grid-item {
  display: flex;
  flex-direction: column;
  font-family: "nyt-cheltenham", sans-serif;
  margin-bottom: 20px;
}

.more-in-space-grid-item > img {
  width: 272px;
  height: 182px;
}

.bottom-grid-title {
  font-family: "nyt-franklin", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  margin: 20px 0 5px 0;
}

.bottom-leftside-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.more-in-space-grid-item > p {
  white-space: nowrap;
  text-align: end;
  margin: 0;
  font-size: 10px;
}

.more-in-space-grid-item > h5 {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 500;
  padding-right: 50px;
}

.more-in-space-grid-item > span {
  font-family: "nyt-franklin", sans-serif;
  text-align: left;
  color: gray;
  font-size: 12px;
}

.most-popular-container > h6 {
  font-family: "nyt-cheltenham", sans-serif;
  font-size: 1.1875rem;
  line-height: 1.4375rem;
  font-weight: 500;
  margin: 10px 0 10px 0;
}

.most-popular-container > hr {
  height: 1px;
  border-width: 0;
  color: lightgray;
  background-color: lightgray;
}

/************************************************************  NAVIGATION  ****************************************************************/

nav {
  width: 66%;
  margin: 50px auto;
  font-family: "nyt-franklin", sans-serif;
}

.nyt-nav-logo {
  width: 184px;
  height: 25px;
  margin: 10px 0 20px 0;
}

.nav-grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin: 20px 0 20px 0;
}

.nav-column {
  height: 400px;
}

.nav-column > a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
  margin: 8px 0 8px 0;
  color: black;
}

.nav-column > h6 {
  font-size: 13px;
  line-height: 15px;
  font-weight: 700;
  margin-bottom: 5px;
}

.category-icons {
  display: inline;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.last-column > .category-links {
  font-weight: 700;
  font-size: 16px;
  line-height: 15px;
  margin: 10px 0 10px 0;
}

.last-column {
  border-left-style: solid;
  border-width: 1px;
  padding-left: 20px;
  border-color: lightgray;
}

.last-column-hr,
.bottom-of-nav-hr {
  height: 1px;
  border-width: 0;
  color: lightgray;
  background-color: lightgray;
}

/******************************************************  FOOTER  ***************************************************************/

.credits {
  justify-content: space-around;
  align-items: flex-start;
  display: flex;
  width: 70%;
  margin: 5px auto 30px auto;
  padding: 0 50px 0 50px;
}

.credits > a {
  font-family: "nyt-franklin", sans-serif;
  font-size: 11px;
  line-height: 11px;
  color: gray;
  text-decoration: none;
}

/*********************************************  ASIDE  *******************************************************************************/

.editor-aside {
  width: 220px;
  height: 300px;
  position: absolute;
  top: 2200px;
  right: 300px;
}

.aside-img {
  margin-right: 6px;
  float: left;
  width: 75px;
  height: 75px;
}

.editor-aside > h5 {
  font-family: "nyt-franklin", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  margin-bottom: 15px;
}

.editor-aside > hr {
  height: 1px;
  border-width: 0;
  color: lightgray;
  background-color: lightgray;
  margin-bottom: 5px;
}

.editor-pick-story a {
  display: block;
  margin-top: 30px;
  margin-bottom: 50px;
  font-family: "nyt-cheltenham", sans-serif;
  font-size: 14px;
  text-decoration: none;
}


/***************************************************************COMMENTS FORM********************************************************************/


.comments-form {
  
  margin:80px auto 80px auto;
  font-family: "nyt-cheltenham", sans-serif;
  width:50%;
  height:500px;
  padding: 10px 100px 10px 100px;
}

.form-container {
  display: flex;
  flex-direction: column;

}
